#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  color: #209d9d;
  margin-bottom: 15px;
  margin-top: -5px;
}

@media (max-width: 767px) {
  #root {
    margin-top: -25px;
    margin-left: -25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #root {
    margin-top: -35px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #root {
    margin-top: -35px;
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  #root {
    margin-top: -80px;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  #root {
    margin-top: 60px;
  }
}

@media (min-width: 1600px) {
  #root {
    margin-top: -120px;
  }
}